<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h2 class="display-1 pt-5">Mes demandes</h2>
  </div>
</div>

  <h1 class="text-center">Faire une demande de réservation pour <%= @product.title %></h1>
<div class="container d-flex flex-column p-4 mb-4 shadow w-50 mx-auto">
  <h2 class="text-center">Produit : <strong><%= @product.title %></strong></h2>
  <p class="text-center">Description : <%= @product.description %>
    <div class="row">
      <%= simple_form_for [ @product, @booking ] do |f| %>
        <%= f.input  :first_day_of_booking, label: 'Date de début souhaitée' %>
        <%= f.input :last_day_of_booking, label: 'Date de fin souhaitée'  %>
        <div class="text-center">
          <%= f.submit "Book!", class: "btn btn-primary w-50" %><br>
          <%= link_to "Back to All products", products_path, class: "btn btn-primary"  %>
          <%= link_to "Back to your Booking", bookings_path(@booking), class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
</div>
