<h1>Rental details</h1>
<div class="container">
  <div class="rental_form">
    <%= simple_form_for [ @product ] do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :capacity %>
      <%= f.input :price_per_day %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Modifier le produit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
