<h1>My products</h1>
<%# <div class="shadow shadow-container "> %>
  <div class="card-wrapper">
    <div class="my_products_container p-4">
      <div class="widget-list row row-cols-3">
        <% unless current_user.products.nil? %>
          <% @products.each do |product|%>
            <div class="shadow card mb-3 widget">
              <div class="card-header bg-transparent " >
                <div class="">
                  <%= button_to'╳', product_path(product), method: :delete, data: {turbo_method: :delete}, class:"button" %>
                </div>
              </div>
                <div class="card-body">
                  <% if product.photo.key.present? %>
                  <%= cl_image_tag(product.photo.key, class:"") %>
                  <% else %>
                    <%= image_tag("unknown.jpg", class:"") %>
                  <% end %>
                  <p><%= product.address %></p>
                </div>
              <div class="card-footer bg-transparent">
                <%= link_to 'Modifier le produit', edit_product_path(product), class:"" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<%# </div> %>
