<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 pt-5">Ajouter un produits</h1>
  </div>
</div>

<div class="container">
  <div class="rental_form">
    <%= simple_form_for [ @product ] do |f| %>
      <%= f.input :title, required: false %>
      <%= f.input :description %>
      <%= f.input :price_per_day, required: false %>
      <%= f.input :city %>
      <%= f.input :address, required: false %>
      <%= f.input :capacity, required: false %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Ajouter produits", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
