<div class="containe">
  <div class="product-cards">
      <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: 'card-img-top my_product_image' %>
      <% end %>
      <h2 class="card-text"><%= @product.title %></h2><br>
      <p class="card-text"><%= @product.description %></p><br>
      <p class="card-text"><%= @product.price_per_day %>€/semaine </p>
      <br>

      <a href="#" class=""> <%= link_to "Louer", "/products/#{params[:id]}/bookings/new" %></a>
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="text-decoration-none">
    <%= link_to "Retour aux produits", products_path, class: "btn btn-outline-primary" %>
</div>
