<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 pt-5">Ajouter un commentaire</h1>
  </div>
</div>

<div class="container">
<% @product = Product.find(@booking.product_id) %>
<h1 class="text-center">Comment s'est passé votre location à <strong><%= @product.address %></strong>?</h1>
  <%= simple_form_for [ @booking, @review ] do |f| %>
    <%= f.input :rating, required: false, collection: [1, 2, 3, 4, 5] %>
    <%= f.input :content, required: false, label: 'Contenu', required: false, hint: "Parlez-nous de votre expérience en #{@product.address}" %>
    <%= f.submit "Ajouter", class: "btn btn-primary" %>
  <% end %>
</div>
