<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
            <%= link_to root_path do %>
            <%= image_tag 'Logo_Bric_N.png', class:"logo"%>
           <% end %>
  <div class="">
      <div class="container d-flex justify-content-center">
        <nav style="--gp-section-max-width:1120px">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control rounded-pill col-6 me-3" type="search" placeholder="Trouver une oeuvre" aria-label="Une envie ?">
              <button class="btn btn-outline-primary rounded-pill col-4" type="submit">Le(t's) go</button>
            </form>
          </div>
         </nav>
      </div>
  </div>

</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
            <% unless current_user.products.any? %>
              <li><%= link_to "S'enregistrer", new_product_path %></li>
            <% else %>
                <li><%= link_to "Mes produits", my_products_path %></li>
                <li><%= link_to "Ajouter un produit", new_product_path %></li>
            <% end %>
            <li><%= link_to "Mes réservations", bookings_path %></li>
            <li><%= link_to "Mes avis", reviews_path %></li>
            <li><%= image_tag 'sign_up.png', class:'sign-up' %><%= link_to "Se déconnecter", destroy_user_session_path, class: 'btn btn-outline-primary rounded-pill' %></li>
          <% else %>
            <li> <%= image_tag 'sign_in.png', class:'sign-in' %> <%= link_to "Se connecter", new_user_session_path, class: 'btn btn-outline-primary rounded-pill'%></li>
          <% end %>

      </ul>
    </div>
  </div>
</div>
